# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.env
venv/

# IDEs
.vscode/
.idea/

# Project Data & Logs
data/
webpages_html/
logs/
temp/
*.csv
*.parquet
*.json
*.png

# Jupyter Notebooks
.ipynb_checkpoints

# Runner Scripts
*.ps1
*.bat

# Execution Plan
Executionplan.txt
Phase7_Executionplan.txt